<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agraris - Cara Gabung</title>
    <link rel="stylesheet" href="./assets/css/stylesheet.css">
    <link rel="stylesheet" href="./assets/css/responsive.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="#"><img src="./assets/img/logoAgrarisPutih.png" alt="Agraris"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto bg-warning">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Program Kemitraan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Cara Gabung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Tentang Kami</a>
                </li>
              </ul>
            </div>
          </nav>
    </header>

    <div class="cara-gabung-wrapper">
        <div class="container">
            <h2 class="motto text-center">Gabung jadi keluarga Mitra Agraris Point</h2>
            <h2 class="sub-motto text-center">dan dapatkan berbagai manfaatnya</h2>
            <p class="text-center">Toko tumbuh pesat, dukung petani sejahtera</p>
            <br></br>
            <div class="form-wrapper">
                <form class="contact">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Nama Lengkap (Sesuai KTP)</label>
                            <input type="text" class="form-control" placeholder="Nama Lengkap (Sesuai KTP)">
                        </div>
                        <div class="col-md-4">
                            <label>Nama Toko Anda</label>
                            <input type="text" class="form-control" placeholder="Nama Toko Anda">
                        </div>
                        <div class="col-md-4">
                            <label>Nomer Handphone Aktif</label>
                            <input type="text" class="form-control" placeholder="Nomer Handphone Aktif">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Alamat Domisili Toko</label>
                            <input type="text" class="form-control" placeholder="Alamat Domisili Toko">
                        </div>
                        <div class="col-md-6">
                            <label>Kota -Provinsi Toko</label>
                            <input type="text" class="form-control" placeholder="Alamat Domisili Toko">
                        </div>
                    </div>
                    <br></br>
                    <div class="row">
                        <div class="col-md-6 ml-auto mr-auto">
                            <button class="btn btn-warning btn-blocbtn-round">Kirim </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm">
                    <div class="footer-left">
                        <h3>PT Berdaya Bersama Agraris</h3>
                        <br></br>
                        <h3>Kawasan Komersial CIlandak Gudang 410</h3>
                        <h3>Jalan Raya Cilandak KKO RT.RW 001/005</h3>
                        <h3>Kel. Cilandak Timur, Kec.Pasar Minggu</h3>
                        <h3>Jakarta Selatan</h3>
                        <h3>12560</h3>
                    </div>
                </div>
                <div class="col-md-auto">
                    <div class="footer-center">
                        <a href="#" class="btn btn-footer fa fa-twitter"></a>
                        <a href="#" class="btn btn-footer fa fa-facebook"></a>
                        <a href="#" class="btn btn-footer fa fa-instagram"></a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="footer-right">
                        <ul>
                            <li><h3><a href="#">About Us</a></h3></li>
                            <li><h3><a href="#">Terms & Conditions</a></h3></li>
                            <li><h3><a href="#">Karir</a></h3></li>
                            <li><h3><a href="#">FAQ</a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>