<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agraris - Kemitraaan</title>
    <link rel="stylesheet" href="./assets/css/stylesheet.css">
    <link rel="stylesheet" href="./assets/css/responsive.css"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning">
            <a class="navbar-brand" href="#"><img src="./assets/img/logoAgrarisPutih.png" alt="Agraris"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto bg-warning">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Beranda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Program Kemitraan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Cara Gabung</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" data-scroll=" true" href="javascript:void(0)">Tentang Kami</a>
                </li>
              </ul>
            </div>
        </nav>
    </header>

    <div class="kemitraan-wrapper">
        <div class="container">
            <div class="row">
                <div class="image-wrapper-1 col-sm align-self-center">
                    <img src="./assets/img/agrarisPointMitraHUnar.jpeg" class="img-fluid">
                </div>
                <div class="text-wrapper-1 col-sm align-self-center mobile-top-fix">
                    <h1>Jadi Toko #IdamanPetani</h1>
                    <h1>bersama Program Agraris Point</h1>
                    <p>Dengan menjadi Mitra Agraris Point, toko Anda akan didukung fasilitas yang disediakan oleh Agraris untuk:</p>
                    <a href="#" class="btn btn-warning">
                        <span class="fa fa-star"></span> Mengelola toko Anda
                    </a>
                    <a href="#" class="btn btn-warning">
                        <span class="fa fa-star"></span> Memudahkan belanja stok barang
                    </a>
                    <a href="#" class="btn btn-warning">
                        <span class="fa fa-star"></span> Bantu petani jual panen
                    </a>
                    <a href="#" class="btn btn-warning">
                        <span class="fa fa-star"></span> Bantu petani cari modal
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="kemitraan-wrapper-1">
        <div class="container">
            <div class="row">
                <div class="text-wrapper-1 col-sm align-self-center">
                    <h1>Toko jadi tumbuh,</h1>
                    <h1>berkah penuh manfaat!</h1>
                    <p>Toko disukai petani, penjualan meningkat, keuntungan lebih besar, pengelolaan lebih mudah, dan penuh bermanfaat sambil bantu petani jual panen</p>
                </div>
                <div class="image-wrapper-1 col-sm align-self-center mobile-top-fix">
                    <img src="./assets/img/agrarisPoint.jpg" class="img-fluid">
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="landing-wrapper-3">
        <div class="container">
            <div class="title text-center">
                <br></br>
                <h1><i class="fa fa-check-circle"></i> Keuntungan jadi Mitra Agraris <i class="fa fa-check-circle"></i></h1>
            </div>
            <div class="row">
                <div class="benefit text-center col-md-3">
                    <div class="benefit-icon">
                        <img src="./assets/img/iconMurah.svg" alt="Murah">
                    </div>
                    <div class="benefit-description">
                        <h4>Murah</h4>
                        <p>Harga Produk paling Kompetitif</p>
                    </div>
                </div>
                <div class="benefit text-center col-md-3">
                    <div class="benefit-icon">
                        <img src="./assets/img/iconMudah.svg" alt="Mudah">
                    </div>
                    <div class="benefit-description">
                        <h4>Mudah</h4>
                        <p>Pesan stok barang lebih mudah, pesan langsung diantar me toko.</p>
                    </div>
                </div>
                <div class="benefit text-center col-md-3">
                    <div class="benefit-icon">
                        <img src="./assets/img/iconManfaat.svg" alt="Manfaat">
                    </div>
                    <div class="benefit-description">
                        <h4>Manfaat</h4>
                        <p>Jadi toko penuh manfaat yang membantu petani menjual panen dan cari modal</p>
                    </div>
                </div>
                <div class="benefit text-center col-md-3">
                    <div class="benefit-icon">
                        <img src="./assets/img/iconMenguntungkan.svg" alt="Menguntungkan">
                    </div>
                    <div class="benefit-description">
                        <h4>Menguntungkan</h4>
                        <p>Tambah penghasilan dari komisi, diskon dan program kemitraan</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="kemitraan-wrapper-2">
        <div class="container">
            <div class="title text-center">
                <h1>Kata Mitra yang sudah bergabung</h1>
            </div>
            <div class="row">
                <div class="image-wrapper-1 col-sm align-self-center">
                    <img src="./assets/img/agrarisPointSukatani.jpeg" class="img-fluid">
                </div>
                <div class="text-wrapper-1 col-sm align-self-center mobile-top-fix">
                    <p>"Alhamdulillah toko jadi berkembang, petani jadi seneng main kesini, dan belanja paling murah dan gampang, gak perlu banding-bandingin harga lagi"</p>
                    <h4>- Pak H. Aep, Mitra Agraris Point Sukatani</h4>
                    <br></br>
                    <a class="btn btn-warning" href="#"><i class="fa fa-star"></i>  Gabung Jadi Mitra Sekarang</a>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm">
                    <div class="footer-left">
                        <h3>PT Berdaya Bersama Agraris</h3>
                        <br></br>
                        <h3>Kawasan Komersial CIlandak Gudang 410</h3>
                        <h3>Jalan Raya Cilandak KKO RT.RW 001/005</h3>
                        <h3>Kel. Cilandak Timur, Kec.Pasar Minggu</h3>
                        <h3>Jakarta Selatan</h3>
                        <h3>12560</h3>
                    </div>
                </div>
                <div class="col-md-auto d-flex justify-content-center">
                    <div class="footer-center">
                        <a href="#" class="btn btn-footer fa fa-twitter"></a>
                        <a href="#" class="btn btn-footer fa fa-facebook"></a>
                        <a href="#" class="btn btn-footer fa fa-instagram"></a>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="footer-right d-flex justify-content-end">
                        <ul>
                            <li><h3><a href="#">About Us</a></h3></li>
                            <li><h3><a href="#">Terms & Conditions</a></h3></li>
                            <li><h3><a href="#">Karir</a></h3></li>
                            <li><h3><a href="#">FAQ</a></h3></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>